@import "./../../../styles.scss";

.animated-button-without-text-on-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;

    .icon {
        width: 32px;
        height: 32px;
        transform-origin: center;
        opacity: 0;
        transform: translateX(0) rotate(0);
        transition: transform 0.5s linear, opacity 0.5s ease-in;
    }

    &:hover .icon {
        transform: translateX(32px) rotate(360deg);
        opacity: 1;
    }

    .text {
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        color: #F8F9FA;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.6px;

        @include respond-to-max(sm) {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

    &:hover .text {
        background-color: #3355FF;
        border-radius: 100px;
    }
}

.animated-button-with-text-on-hover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding: 0;

    .icon {
        display: flex;
        align-self: flex-end;
        width: 40px;
        height: 40px;
        transform-origin: center;
        opacity: 0;
        transform: translateX(0) rotate(0);
        transition: transform 0.5s linear, opacity 0.5s ease-in;
    }

    &:hover .icon {
        transform: translateX(140px) rotate(360deg);
        opacity: 1;

        @include respond-to-max(xs) {
            transform: translateX(120px) rotate(360deg);
        }
    }

    .text,
    .hover-text {
        border: 1px solid #F8F9FA;
        border-radius: 100px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        color: #F8F9FA;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.6px;
        transition: opacity 0.3s;

        @include respond-to-max(xs) {
            font-size: 16px;
            line-height: 100%;
        }
    }

    &:hover .text {
        opacity: 0;
    }

    .hover-text {
        position: absolute;
        top: 50px;
        left: 0;
        white-space: nowrap;
        border: 1px solid #F8F9FA;
        border-radius: 100px;
        padding-top: 12px;
        padding-right: 24px;
        padding-bottom: 12px;
        padding-left: 24px;
        background: #3355FF;
        opacity: 0;
        transition: opacity 0.3s;

        @include respond-to-max(sm) {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    &:hover .hover-text {
        opacity: 1;
    }
}