<section>
    <div class="skills-content">
        <div class="title-content">
            <div class="title-container">
                <p class="font-bricolage-grotesque">{{ 'skills.title' | translate }}</p>

                <app-animated-subheading class="font-bricolage-grotesque" [text]="'skills.subheading' | translate" animationType="center-out"
                    animationFile="assets/img/skills/ornaments/Property 1=linea copia 4.svg">
                </app-animated-subheading>
            </div>

            <div class="content">
                <p class="font-bricolage-grotesque">
                    {{ 'skills.content' | translate }}
                </p>
            </div>
        </div>

        <div class="placeholder_skills">
            <div class="skill-icon-box">
                <div *ngFor="let skillIcon of skillIcons" class="skill-icon-item">
                    <div class="skill-icon-wrapper">
                        <img [src]="getSkillIconPath(skillIcon.src, skillIcon.category)" [alt]="skillIcon.name"
                            class="skill-icon">
                    </div>
                    <span class="skill-icon-label font-bricolage-grotesque">{{ skillIcon.name }}</span>
                </div>
            </div>
    
            <div class="placeholder-sticker">
                <img class="placeholder-sticker-img" src="./../../../assets/img/skills/ornaments/flechha.png" alt="">
                <span class="font-kalam placeholder-sticker-span">
                    {{ 'skills.buttonText' | translate }}
                </span>
            </div>
        </div>        
    </div>
</section>