<section>
    <div class="container">
        <div class="skills-content">
            <div class="title-content">
                <div class="title-container">
                    <p class="font-bricolage-grotesque">{{ 'skills.title' | translate }}</p>

                    <app-animated-subheading class="font-bricolage-grotesque" [text]="'skills.subheading' | translate"
                        animationType="center-out"
                        animationFile="assets/img/skills/ornaments/Property 1=linea copia 4.svg">
                    </app-animated-subheading>
                </div>

                <div class="content">
                    <p class="font-bricolage-grotesque">
                        {{ 'skills.content' | translate }}
                    </p>
                </div>
            </div>

            <div class="skills">
                <div class="skill-icon-box">
                    <div *ngFor="let skillIcon of skillIcons" class="skill-icon-item">
                        <div class="skill-icon-wrapper">
                            <img [src]="getSkillIconPath(skillIcon.src, skillIcon.category)" [alt]="skillIcon.name"
                                class="skill-icon">
                        </div>
                        <span class="skill-icon-label font-bricolage-grotesque">{{ skillIcon.name }}</span>
                    </div>
                </div>

                <div #stickerPeel class="sticker-container">
                    <div class="sticker-container_top">
                        <img src="./../../../assets/img/skills/sticker/flechha.png" alt="">
                        <span class="font-kalam">
                            {{ 'skills.stickerTextTop' | translate }}
                        </span>
                    </div>

                    <div class="sticker-container_bottom">
                        <div class="sticker-container_bottom-content">
                            <span class="font-bricolage-grotesque"
                                [innerHTML]="'skills.stickerTextBottom' | translate"></span>

                            <div class="further-skills-container">
                                <div class="further-skills-container_skill">
                                    <img src="./../../../assets/img/skills/sticker/React.svg" alt="">
                                    <span class="font-bricolage-grotesque">React</span>
                                </div>

                                <div class="further-skills-container_skill">
                                    <img src="./../../../assets/img/skills/sticker/Vue Js.svg" alt="">
                                    <span class="font-bricolage-grotesque">Vue Js</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>