@import "./../../../styles.scss";

header {
    padding-top: 19px;
    padding-right: 72px;
    padding-bottom: 19px;
    padding-left: 72px;
    gap: 32px;

    nav {
        width: 100%;
        height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to-max(xxxl) {
            height: 42px;
        }
    }

    @include respond-to-max(lg) {
        display: none;
    }
}

img {
    width: 64px;
    height: 64px;
    object-fit: cover;

    @include respond-to-max(xxxl) {
        width: 40px;
        height: 40px;
    }
}

a {
    text-decoration: none;
    color: #F8F9FA;
    font-weight: 700;
    font-size: 24px;
    line-height: 21.6px;
    position: relative;
    display: inline-block;
    padding: 10px;
    border: none;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover img {
        clip-path: inset(0 0 0 0);
    }

    @include respond-to-max(xxxl) {
        font-size: 18px;
    }
}

.animate-top-to-bottom img {
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease-in;
}

.animate-left-to-right img {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.3s ease-in;
}

.language-toggle {
    width: 120px;
    height: 64px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to-max(xxxl) {
        width: 104px;
        height: 32px;
    }
}

.language-toggle-item {
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-toggle-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inset(100% 0 0 0);
    transition: clip-path 0.3s ease-in;
}

.animate-bottom-right-to-top-left:not(.active) img {
    clip-path: inset(100% 0 0 100%);
}

.animate-top-left-to-bottom-right:not(.active) img {
    clip-path: inset(100% 0 0 100%);
}

.language-toggle-item:not(.active):hover img {
    clip-path: inset(0 0 0 0);
}

.language-toggle-button {
    width: 22px;
    height: 19px;
    font-weight: 600;
    font-size: 20px;
    line-height: 19.2px;
    color: #FFFFFF;
    transition: color 0.3s;
    cursor: default;

    @include respond-to-max(xxxl) {
        font-size: 16px;
    }
}

.language-toggle-button.active {
    color: #F87A55;
}

.language-toggle-button:not(.active):hover {
    cursor: pointer;
}

.language-toggle-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 8px;
    background-color: #F87A55;
    border-radius: 16px;
    border: 1px solid #F8F9FA;
    transition: 0.4s;
}

.slider {
    position: absolute;
    top: 50%;
    left: 0;
    width: 36px;
    height: 12px;
    background-color: transparent;
    border-radius: 34px;
    transform: translateY(-50%);
}

.slider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #3355FF;
    border-radius: 50%;
    border: 1px solid #F8F9FA;
    transform: translateY(-50%);
    transition: 0.4s;
}

.language-toggle-switch.active .slider:before {
    transform: translate(20px, -50%);
}