@import "./../../../styles.scss";

header {
    display: none;
    flex-direction: column;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;

        .navbar {
            display: flex;
            justify-content: space-between;
            width: 100%;

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }

            .burger-menu-icon-inactive {
                cursor: pointer;
            }
        }
    }

    .hide-nav {
        display: none;
    }

    .burger-menu-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        background-image: url('./../../../assets/img/hero/hero/12\ Isolated\ Paper\ Rips\ copia.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
        transition: transform 300ms ease-out;
        transform: translateY(-800px);

        &.open {
            transform: translateY(0);
        }

        .burger-menu-content_first-container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            img {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }

            .burger-menu-icon-active {
                cursor: pointer;
            }
        }

        .burger-menu-content_second-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            a {
                text-decoration: none;
                color: #F8F9FA;
                font-weight: 700;
                font-size: 18px;
                line-height: 21.6px;
                position: relative;
                display: inline-block;
                padding: 10px;
                border: none;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                &:hover img {
                    clip-path: inset(0 0 0 0);
                }
            }

            .animate-top-to-bottom img {
                clip-path: inset(0 0 100% 0);
                transition: clip-path 0.3s ease-in;
            }

            .animate-left-to-right img {
                clip-path: inset(0 100% 0 0);
                transition: clip-path 0.3s ease-in;
            }

            .language-toggle {
                width: 104px;
                height: 32px;
                gap: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .language-toggle-item {
                width: 32px;
                height: 32px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .language-toggle-item img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                clip-path: inset(100% 0 0 0);
                transition: clip-path 0.3s ease-in;
            }

            .animate-bottom-right-to-top-left:not(.active) img {
                clip-path: inset(100% 0 0 100%);
            }

            .animate-top-left-to-bottom-right:not(.active) img {
                clip-path: inset(100% 0 0 100%);
            }

            .language-toggle-item:not(.active):hover img {
                clip-path: inset(0 0 0 0);
            }

            .language-toggle-button {
                width: 22px;
                height: 19px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19.2px;
                color: #FFFFFF;
                transition: color 0.3s;
                cursor: default;
            }

            .language-toggle-button.active {
                color: #F87A55;
            }

            .language-toggle-button:not(.active):hover {
                cursor: pointer;
            }

            .language-toggle-switch {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 8px;
                background-color: #F87A55;
                border-radius: 16px;
                border: 1px solid #F8F9FA;
                transition: 0.4s;
            }

            .slider {
                position: absolute;
                top: 50%;
                left: 0;
                width: 36px;
                height: 12px;
                background-color: transparent;
                border-radius: 34px;
                transform: translateY(-50%);
            }

            .slider:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: #3355FF;
                border-radius: 50%;
                border: 1px solid #F8F9FA;
                transform: translateY(-50%);
                transition: 0.4s;
            }

            .language-toggle-switch.active .slider:before {
                transform: translate(20px, -50%);
            }
        }

        .burger-menu-content_third-container {
            width: 40px;
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 64px;

            .social-media-box-button {
                display: flex;
                justify-content: center;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                    border: 1px solid #F8F9FA;
                    padding: 4px;
                    display: flex;
                    gap: 4px;

                    &:hover {
                        background-color: #3355FF;
                    }
                }
            }
        }
    }

    @include respond-to-max(lg) {
        display: flex;
    }
}