<section>
    <div class="title-container">
        <p class="font-bricolage-grotesque">{{ 'references.title' | translate }}</p>

        <app-animated-subheading class="font-bricolage-grotesque" [text]="'references.subheading' | translate"
            animationType="left-to-right" animationFile="assets/img/references/ornament_blue-arrow.svg">
        </app-animated-subheading>
    </div>

    <div class="content-container">
        <div class="first-reference-card">
            <div class="first-reference-card_content">
                <p class="font-bricolage-grotesque">
                    {{ 'references.first-reference.content' | translate }}
                </p>
            </div>

            <div class="first-reference-card_author">
                <div class="name-and-job">
                    <span class="font-bricolage-grotesque name">Tobias Lange</span>
                    <span class="font-bricolage-grotesque job">{{ 'references.first-reference.job' | translate }}</span>
                </div>

                <div class="linkedin-profile">
                    <a href="https://de.linkedin.com/" target="_blank" class="font-bricolage-grotesque"
                        onmouseover="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_white.svg'"
                        onmouseout="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_black.svg'">
                            <img src="./../../../assets/img/references/logo_linkedin_black.svg" alt="">{{ 'references.profile' | translate }}
                    </a>
                </div>
            </div>
        </div>

        <div class="second-reference-card">
            <div class="second-reference-card_content">
                <p class="font-bricolage-grotesque">
                    {{ 'references.second-reference.content' | translate }}
                </p>
            </div>

            <div class="second-reference-card_author">
                <div class="name-and-job">
                    <span class="font-bricolage-grotesque name">Maria Schäfer</span>
                    <span class="font-bricolage-grotesque job">{{ 'references.second-reference.job' | translate }}</span>
                </div>

                <div class="linkedin-profile">
                    <a href="https://de.linkedin.com/" target="_blank" class="font-bricolage-grotesque"
                        onmouseover="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_white.svg'"
                        onmouseout="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_black.svg'">
                            <img src="./../../../assets/img/references/logo_linkedin_black.svg" alt="">{{ 'references.profile' | translate }}
                    </a>
                </div>
            </div>
        </div>

        <div class="third-reference-card">
            <div class="third-reference-card_content">
                <p class="font-bricolage-grotesque">
                    {{ 'references.third-reference.content' | translate }}
                </p>
            </div>

            <div class="third-reference-card_author">
                <div class="name-and-job">
                    <span class="font-bricolage-grotesque name">David Braun</span>
                    <span class="font-bricolage-grotesque job">{{ 'references.third-reference.job' | translate }}</span>
                </div>

                <div class="linkedin-profile">
                    <a href="https://de.linkedin.com/" target="_blank" class="font-bricolage-grotesque"
                        onmouseover="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_white.svg'"
                        onmouseout="this.querySelector('img').src='./../../../assets/img/references/logo_linkedin_black.svg'">
                        <img src="./../../../assets/img/references/logo_linkedin_black.svg" alt="">{{ 'references.profile' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>