@import "./../../../styles.scss";

section {
    display: flex;
    justify-content: space-around;
    padding-top: 144px;
    padding-right: 120px;
    padding-bottom: 144px;
    padding-left: 120px;

    @include respond-between(xxs, xl) {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 88px;
        padding-right: 16px;
        padding-bottom: 88px;
        padding-left: 16px;
    }
}

.about-me_location {
    width: 560px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond-between(xxs, xl) {
        width: 100%;
    }
}

.location-container {
    width: 560px;
    height: 152px;
    rotate: -4deg;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../../../assets/img/about-me/ripped-paper_yellow.png');
    background-size: cover;
    position: relative;
    top: 40px;
    z-index: 2;
    gap: 16px;

    @include respond-between(xxs, md) {
        width: 100vw;
        height: 128px;
        top: 60px;
        gap: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        width: 40px;
        height: 40px;

        @include respond-between(xxs, md) {
            width: 32px;
            height: 32px;
        }
    }

    span {
        font-weight: 400;
        font-size: 24px;
        line-height: 28.8px;
        color: #F8F9FA;

        @include respond-between(xxs, md) {
            font-size: 20px;
            line-height: 120%;
        }
    }
}

.relocation-container {
    width: 560px;
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../../../assets/img/about-me/ripped-paper_blue.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    gap: 16px;

    @include respond-between(xxs, md) {
        width: 100vw;
        height: 128px;
        top: 24px;
        gap: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        width: 40px;
        height: 40px;

        @include respond-between(xxs, md) {
            width: 32px;
            height: 32px;
        }
    }

    span {
        font-weight: 400;
        font-size: 24px;
        line-height: 28.8px;
        color: #F8F9FA;

        @include respond-between(xxs, md) {
            font-size: 20px;
            line-height: 120%;
        }
    }
}

.remote-container {
    width: 560px;
    height: 152px;
    rotate: 4deg;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../../../assets/img/about-me/ripped-paper_orange.png');
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 30px;
    gap: 16px;

    @include respond-between(xxs, md) {
        width: 100vw;
        height: 128px;
        bottom: 60px;
        gap: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        width: 40px;
        height: 40px;

        @include respond-between(xxs, md) {
            width: 32px;
            height: 32px;
        }
    }

    span {
        font-weight: 400;
        font-size: 24px;
        line-height: 28.8px;
        color: #F8F9FA;

        @include respond-between(xxs, md) {
            font-size: 20px;
            line-height: 120%;
        }
    }
}

.about-me_content {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include respond-to-max(xl) {
        width: 100%;
        gap: 32px;
    }
}

.title-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #0E1013;

        @include respond-between(xxs, md) {
            font-size: 18px;
            line-height: 100%;
        }
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: inherit;

    p {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #0E1013;

        @include respond-between(xxs, md) {
            font-size: 18px;
            line-height: 100%;
        }
    }
}