section {
    width: 100%;
    background-color: #0E1013;
}

.privacy-policy_content {
    padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 24px;

    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21.6px;
    }

    h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21.6px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21.6px;
    }

    h1, h2, h3, h4, p {
        margin: 0;
        color: #F8F9FA;
    }

    a {
        text-decoration: none;
        color: #3355FF;

        &:hover {
            color: #F7C518;
        }
    }
}