<section>
    <app-header></app-header>

    <div class="font-bricolage-grotesque privacy-policy_content">
        <h1 [innerHTML]="'privacyPolicy.heading' | translate"></h1>

        <h2 [innerHTML]="'privacyPolicy.section1.title' | translate"></h2>

        <h3 [innerHTML]="'privacyPolicy.section1.generalInformation.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section1.generalInformation.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section1.dataCollection.title' | translate"></h3>

        <h4 [innerHTML]="'privacyPolicy.section1.dataCollection.responsible.title' | translate"></h4>

        <p [innerHTML]="'privacyPolicy.section1.dataCollection.responsible.content' | translate"></p>

        <h4 [innerHTML]="'privacyPolicy.section1.dataCollection.howToCollect.title' | translate"></h4>

        <p [innerHTML]="'privacyPolicy.section1.dataCollection.howToCollect.content' | translate"></p>

        <h4 [innerHTML]="'privacyPolicy.section1.dataCollection.usage.title' | translate"></h4>

        <p [innerHTML]="'privacyPolicy.section1.dataCollection.usage.content' | translate"></p>

        <h4 [innerHTML]="'privacyPolicy.section1.dataCollection.rights.title' | translate"></h4>

        <p [innerHTML]="'privacyPolicy.section1.dataCollection.rights.content' | translate"></p>

        <h2 [innerHTML]="'privacyPolicy.section2.title' | translate"></h2>

        <h3 [innerHTML]="'privacyPolicy.section2.dataProtection.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.dataProtection.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.responsibleBody.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.responsibleBody.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.storagePeriod.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.storagePeriod.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.legalBasis.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.legalBasis.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.recipients.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.recipients.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.revocation.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.revocation.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.directMarketing.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.directMarketing.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.complaint.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.complaint.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.dataPortability.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.dataPortability.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.informationCorrectionDeletion.title' | translate"></h3>

        <p [innerHTML]="'privacyPolicy.section2.informationCorrectionDeletion.content' | translate"></p>

        <h3 [innerHTML]="'privacyPolicy.section2.restriction.title' | translate"></h3>

        <p>
            <span [innerHTML]="'privacyPolicy.section2.restriction.content' | translate"></span>
        </p>

        <h3 [innerHTML]="'privacyPolicy.section2.sslEncryption.title' | translate"></h3>

        <p>
            {{ 'privacyPolicy.section2.sslEncryption.content' | translate }}
            <br>
            <br>
            {{ 'privacyPolicy.section2.sslEncryption.source' | translate }} <a
                href="https://www.e-recht24.de">https://www.e-recht24.de</a>
        </p>
    </div>

    <app-footer></app-footer>
</section>