@import "./../../../styles.scss";

section {
    background-image: url('./../../../assets/img/contact-me/footer_rotated.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-between(xxs, xl) {
        height: auto;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.section_content {
    padding-top: 144px;
    padding-right: 120px;
    padding-left: 120px;
    display: flex;
    justify-content: space-around;

    @include respond-between(xxs, xl) {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 88px;
        padding-right: 16px;
        padding-left: 16px;
        gap: 40px;
    }

    @include respond-between(xl, xxl) {
        justify-content: space-between;
    }
}

.contact-me_content {
    width: 560px;
    gap: 48px;
    display: flex;
    flex-direction: column;

    @include respond-between(xxs, xl) {
        width: 100%;
        gap: 16px;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #F8F9FA;

    p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: left;

        @include respond-between(xxs, xl) {
            font-size: 18px;
            line-height: 100%;
        }
    }
}

.content {
    width: 560px;
    height: 132px;

    @include respond-between(xxs, xl) {
        width: 100%;
    }

    p {
        margin: 0;
        color: #F8F9FA;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.6px;

        @include respond-between(xxs, xl) {
            width: 100%;
            font-size: 18px;
            line-height: 100%;
            text-align: justify;
        }
    }
}

.formular_content {
    width: 480px;
    border-top: 1px;
    padding-top: 128px;
    gap: 40px;

    @include respond-between(xxs, xl) {
        width: 100%;
        padding-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 480px;

        @include respond-between(xxs, xl) {
            width: 100%;
        }

        .formular_container {
            display: flex;
            flex-direction: column;
            border-top: 1px transparent #F7C518;
            border-bottom: 1px solid #F7C518;
            padding-top: 16px;
            padding-right: 24px;
            padding-bottom: 16px;
            padding-left: 24px;
            gap: 10px;

            label {
                font-weight: 500;
                font-size: 24px;
                line-height: 28.8px;
                color: #F8F9FA;

                @include respond-between(xxs, xl) {
                    line-height: 120%;
                }
            }

            input {
                background-color: transparent;
                border: none;
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                color: #F8F9FA;
                cursor: pointer;

                @include respond-between(xxs, xl) {
                    line-height: 120%;
                }

                &::placeholder {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;
                    color: #F8F9FA;
                }

                &:invalid.ng-touched::placeholder {
                    color: #FF3A00;
                }

                &:focus {
                    outline: none;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21.6px;
                    color: #F8F9FA;
                }
            }

            &:hover {
                border-top: 1px solid #3355FF;
                border-bottom: 1px solid #3355FF;

                label {
                    color: #F87A55;
                }
            }

            .invalid-email {
                font-weight: 400;
                font-size: 18px;
                line-height: 21.6px;
                color: #FF3A00;
            }
        }

        .privacy-policy_container {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .privacy-policy_content {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .privacy-policy_text {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .privacy-policy_checkbox {
                        margin: 0;
                        width: 18px;
                        height: 18px;
                        margin-top: 3px;
                        margin-left: 3px;
                        // background-color: transparent;
                        appearance: none;
                        aspect-ratio: 1;
                        border: 2px solid #3355FF;
                        border-radius: 2px;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba($color: #3355FF, $alpha: 0.3);
                        }

                        &:after {
                            content: "";
                            width: 12px;
                            height: 12px;
                            background-image: url("./../../../assets/img/contact-me/Check\ 1.png");
                            background-size: auto;
                            background-repeat: no-repeat;
                            background-position: center;
                            display: none;
                        }

                        &:checked:after {
                            display: block;

                            &:hover {
                                background-color: rgba($color: #3355FF, $alpha: 0.3);
                            }
                        }
                    }

                    label {
                        margin: 0;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 18px;
                        color: #F8F9FA;

                        a {
                            text-decoration: none;
                            color: #3355FF;

                            &:hover {
                                color: #F7C518;
                            }
                        }
                    }

                }

                .privacy-policy_warning {
                    p {
                        margin: 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16.8px;
                        color: transparent;
                        transition: color 0.3s ease;
                    }
                }

                .privacy-policy_warning.visible p {
                    color: #E61C40;
                }
            }

            app-button {
                align-self: end;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(#000000, 0.5);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .message-box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        padding: 64px;
        border-radius: 24px;
        border: 1px solid #3355FF;
        backdrop-filter: blur(10px);
        background-color: rgba(#000000, 0.05);

        p {
            margin: 0;
            color: #F8F9FA;
            font-weight: 400;
            font-size: 18px;
            line-height: 21.6px;
        }

        app-button {
            align-self: flex-end;
        }
    }
}