<section>
    <div class="section_content">
        <div class="contact-me_content">
            <div class="title-container">
                <p class="font-bricolage-grotesque">{{ 'contact.title' | translate }}</p>

                <app-animated-subheading class="font-bricolage-grotesque" [text]="'contact.subheading' | translate"
                    animationType="center-out" animationFile="assets/img/contact-me/Line.png">
                </app-animated-subheading>
            </div>

            <div class="content">
                <p class="font-bricolage-grotesque">
                    {{ 'contact.content' | translate }}
                </p>
            </div>
        </div>

        <div class="formular_content">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                <div class="formular_container">
                    <label class="font-bricolage-grotesque" for="name">{{ 'contact.form.nameLabel' | translate }}</label>
                    <input class="font-bricolage-grotesque" #name="ngModel" [(ngModel)]="contactData.name" type="text"
                        id="name" name="name" [placeholder]="'contact.form.namePlaceholder' | translate" required>
                </div>

                <div class="formular_container">
                    <label class="font-bricolage-grotesque" for="email">{{ 'contact.form.emailLabel' | translate }}</label>
                    <input class="font-bricolage-grotesque" #email="ngModel" [(ngModel)]="contactData.email"
                        type="email" id="email" name="email" [placeholder]="'contact.form.emailPlaceholder' | translate" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                </div>

                <div class="formular_container">
                    <label class="font-bricolage-grotesque" for="message">{{ 'contact.form.messageLabel' | translate }}</label>
                    <input class="font-bricolage-grotesque" #message="ngModel" [(ngModel)]="contactData.message"
                        id="message" name="message" [placeholder]="'contact.form.messagePlaceholder' | translate" required>
                </div>

                <div class="privacy-policy_container">
                    <div class="privacy-policy_content">
                        <div class="privacy-policy_text">
                            <div>
                                <img src="./../../../assets/img/contact-me/Property 1=Default.png" alt="">
                            </div>

                            <p class="font-bricolage-grotesque" [innerHTML]="'contact.form.privacyText' | translate"></p>

                        </div>

                        <div class="privacy-policy_warning">
                            <p class="font-karla">{{ 'contact.form.privacyWarning' | translate }}</p>
                        </div>
                    </div>

                    <app-button class="font-bricolage-grotesque" [text]="'contact.form.buttonText' | translate" link="#contact" textColor="black"
                        borderColor="black"></app-button>

                </div>

            </form>
        </div>
    </div>

    <app-footer></app-footer>
</section>