<div class="project-card">
    <div class="project-card_image-container">
        <img [src]="image" [alt]="name">

        <app-button
            class="font-bricolage-grotesque"
            [text]="'project.buttonText' | translate"
            textColor="white"
            borderColor="white"
            (click)="navigateToDetails()"
        ></app-button>
    </div>
    
    <div class="project-card_content">
        <h3 class="font-bricolage-grotesque">{{ name }}</h3>
        <p class="font-bricolage-grotesque">{{ description }}</p>
    </div>

    <app-button
        class="font-bricolage-grotesque mobile"
        [text]="'project.buttonText' | translate"
        textColor="#0E1013"
        borderColor="white"
        (click)="navigateToDetails()"
    ></app-button>
</div>