<div class="project-card">
    <div class="project-card_image-container">
        <img [src]="image" [alt]="name">

        <app-button
            class="font-bricolage-grotesque"
            text="Project details"
            textColor="white"
            borderColor="white"
            (click)="navigateToDetails()"
        ></app-button>
    </div>
    
    <div class="project-card_content">
        <h3 class="font-bricolage-grotesque">{{ name }}</h3>
        <p class="font-bricolage-grotesque">{{ description }}</p>
    </div>
</div>