<section>
    <app-header></app-header>

    <div class="font-bricolage-grotesque legal-notice_content">
        <h1 class="font-color_white">Legal notice</h1>

        <p class="font-color_white">
            Philip Baumgärtner
            <br>
            Jurastraße 6
            <br>
            92353 Postbauer-Heng
        </p>

        <h2 class="font-color_white">Contact</h2>

        <p class="font-color_white">
            Phone: 09188 / 57 77 120
            <br>
            Mail: philip_baumgaertner&#64;hotmail.de
        </p>

        <p class="font-color_white">
            Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
        </p>
    </div>
</section>