@import "./../../../styles.scss";

.animated-subheading {
    position: relative;
    display: inline-block;
    font-size: 64px;
    font-weight: 700;
    gap: 4px;

    @include respond-to-max(sm) {
        font-size: 48px;
        line-height: 100%;
    }

    .left-to-right {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        animation: animatedLine 4s ease-in-out infinite;
        opacity: 1;
    }

    .left-to-right-changed {
        animation: animatedLine 4s ease-in-out infinite;
        opacity: 1;
    }

    .center-out {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110%;
        transform: translate(-50%, -50%) scale(0) rotate(0deg);
        animation: animatedExplosion 4s ease-in-out infinite;
        opacity: 1;
    }

    @keyframes animatedLine {
        0% {
            clip-path: inset(0 100% 0 0);
        }

        40% {
            clip-path: inset(0 0 0 0);
        }

        90% {
            clip-path: inset(0 0 0 0);
        }

        100% {
            clip-path: inset(0 100% 0 0);
        }
    }

    @keyframes animatedExplosion {
        0% {
            clip-path: inset(50% 50% 50% 50%);
            transform: translate(-50%, -50%) scale(0) rotate(0deg);
        }

        40% {
            clip-path: inset(0 0 0 0);
            transform: translate(-50%, -50%) scale(1.1) rotate(360deg);
        }

        60% {
            clip-path: inset(0 0 0 0);
            transform: translate(-50%, -50%) scale(1.1) rotate(360deg);
        }

        80% {
            clip-path: inset(50% 50% 50% 50%);
            transform: translate(-50%, -50%) scale(0) rotate(0deg);
        }

        100% {
            clip-path: inset(50% 50% 50% 50%);
            transform: translate(-50%, -50%) scale(0) rotate(0deg);
        }
    }
}