section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 144px;
    padding-right: 120px;
    padding-left: 120px;

    @media (max-width: 768px) {
        padding: 30px 15px;
    }
}

.projects_content {
    width: 560px;
    display: flex;
    flex-direction: column;
    // text-align: justify;
    gap: 48px;
    // margin-bottom: 40px;
}

.title-container {
    gap: 16px;

    >p {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #0E1013;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: inherit;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #0E1013;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.project-item {
    display: flex;
    justify-content: center;
}

.app-project {
    width: 100%;
    max-width: 500px;
}