<section>
    <div class="placeholder-intro">
        <div>
            <span class="font-bricolage-grotesque">
                MY CRAFT
            </span>

            <app-animated-subheading class="font-bricolage-grotesque" text="Projects" animationType="left-to-right"
                animationFile="assets/img/projects/ornaments/linea naranja b.png">
            </app-animated-subheading>
        </div>


        <p class="font-bricolage-grotesque">
            Take a look at some of my projects and see my front-end skills in action. Each project highlights my
            approach to building responsive, user-friendly designs with efficient code.
        </p>
    </div>

    <div class="projects-container">
        <div *ngFor="let project of projects" class="project-item">
            <app-project [name]="project.name" [description]="project.description"
                [image]="getProjectImagePath(project.image, project.category)" [technologies]="project.technologies"
                [detailsRoute]="project.detailsRoute">
            </app-project>
        </div>
    </div>



</section>