<section>
    <app-header></app-header>

    <div class="introduction-box">
        <div class="greeting">
            <div class="placeholder_frame609">
                <app-animated-button
                    text="Hello World"
                    hoverText="I'M KARL HOFMANN"
                    icon="./../../assets/img/hero/hero/waving_hand.svg">
                </app-animated-button>

                <div class="placeholder_frame604">
                    <span class="uppercase font-bricolage-grotesque">F</span>
                    <span class="lowercase font-bricolage-grotesque">r</span>
                    <span class="lowercase font-bricolage-grotesque">o</span>
                    <span class="lowercase font-bricolage-grotesque">n</span>
                    <span class="lowercase font-bricolage-grotesque">t</span>
                    <span class="lowercase font-bricolage-grotesque">e</span>
                    <span class="lowercase font-bricolage-grotesque">n</span>
                    <span class="lowercase font-bricolage-grotesque">d</span>
                </div>
            </div>

            <div>
                <img class="placeholder-img" src="./../../assets/img/hero/hero/Polaroid-Frame-Mockup copia 1.svg"
                    alt="">
            </div>
        </div>

        <div class="placeholder_frame605">
            <span class="uppercase font-bricolage-grotesque">D</span>
            <span class="uppercase font-bricolage-grotesque">E</span>
            <span class="uppercase font-bricolage-grotesque">V</span>
            <span class="uppercase font-bricolage-grotesque">E</span>
            <span class="uppercase font-bricolage-grotesque">L</span>
            <span class="uppercase font-bricolage-grotesque">O</span>
            <span class="uppercase font-bricolage-grotesque">P</span>
            <span class="uppercase font-bricolage-grotesque">E</span>
            <span class="uppercase font-bricolage-grotesque">R</span>
        </div>

        <app-button class="font-bricolage-grotesque" text="Get in Touch" link="#contact" textColor="white"
            borderColor="white"></app-button>
    </div>



    <div class="social-media-box">
        <div class="social-media-box-button">
            <div class="social-media-box-button-icon">
                <img src="./../../../assets/img/hero/pages/Property 1=Linledin.svg" alt="">
            </div>
        </div>

        <div class="social-media-box-button">
            <div class="social-media-box-button-icon">
                <img src="./../../../assets/img/hero/pages/Property 1=Git hub.svg" alt="">
            </div>
        </div>

        <div class="social-media-box-button">
            <div class="social-media-box-button-icon">
                <img src="./../../../assets/img/hero/pages/Property 1=Mail.svg" alt="">
            </div>
        </div>
    </div>

</section>