@import "./../../../styles.scss";

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./../../../assets/img/hero/hero/12\ Isolated\ Paper\ Rips\ copia.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F8F9FA;

    @include respond-to-max(lg) {
        height: auto;
        padding-bottom: 100px;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}

.introduction-box {
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-between(xxs, sm) {
        gap: 16px;
        max-width: 400px;
    }

    @include respond-between(xxs, md) {
        padding-right: 16px;
        padding-left: 16px;
        position: static;
        transform: translate(-1%, 0%);
        margin: 32px auto;
        width: 90%;
    }

    @include respond-between(md, lg) {
        padding-right: 16px;
        padding-left: 16px;
        position: static;
        transform: none;
        margin: 32px auto;
        width: 90%;
    }
}

.first-content {
    width: 864.54px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include respond-between(xxs, lg) {
        width: 100%;
    }
}

.animated-button-and-job {
    @include respond-to-max(xxxxl) {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.polaroid {
    width: 204px;
    height: 244px;
    background-image: url('./../../../assets/img/hero/hero/bewerbungsfoto_sw.png');
    display: flex;
    justify-content: center;
    align-items: self-end;
    rotate: 8deg;
    margin-right: 20px;
    margin-top: 20px;
    align-self: flex-start;

    @include respond-to-max(lg) {
        display: none;
    }

    &:hover {
        background-image: url('./../../../assets/img/hero/hero/bewerbungsfoto_farbig2.png');
    }

    span {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        &::before {
            content: "Philip :)";
        }
    }

    &:hover span::before {
        content: "Philip :D";
    }

    &.mobile {
        display: none;

        @include respond-to-max(lg) {
            display: flex;
            justify-self: center;
            margin: 0 auto;
        }
    }
}

.job,
.second-content {
    width: auto;
    display: flex;
    justify-content: center;
}

.job span,
.second-content span {
    display: inline-block;
    color: #F8F9FA;
    font-weight: 700;
    font-size: 128px;
    line-height: 128px;
    transition: color 0.3s ease-in-out, text-transform 0.3s ease-in-out;

    @include respond-to-max(xs) {
        font-size: 40px;
    }

    @include respond-between(xs, sm) {
        font-size: 48px;
    }

    @include respond-between(sm, lg) {
        font-size: 80px;
    }

    /*
    @include respond-between(sm, md) {
        font-size: 96px;
    }
    */

    @include respond-between(xxs, md) {
        line-height: 100%;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.job:hover .uppercase:hover {
    text-transform: lowercase;
    color: #F7C518;
}

.job:hover .lowercase:hover {
    text-transform: uppercase;
    color: #F7C518;
}

.second-content:hover .uppercase:hover {
    text-transform: lowercase;
    color: #F7C518;
}

app-button {
    align-self: flex-end;
}

.social-media-box {
    width: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1100px;
    left: 72px;
    gap: 8px;

    @include respond-to-max(lg) {
        display: none;
    }

    @include respond-between(lg, xxl) {
        top: 700px;
    }

    @include respond-between(xxl, xxxl) {
        top: 850px;
    }
}

.social-media-box-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;

    img {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        border: 1px solid #F8F9FA;
        padding: 4px;
        display: flex;
        gap: 4px;

        &:hover {
            background-color: #3355FF;
        }
    }
}