<footer>
    <div class="first-footer-element">
        <div class="content">
            <a class="logo" href="#hero"><img  src="./../../../assets/img/hero/header/logo.svg"
                onmouseover="this.src='./../../../assets/img/hero/header/logo_hover.svg'"
                onmouseout="this.src='./../../../assets/img/hero/header/logo.svg'" alt=""></a>

            <span class="font-bricolage-grotesque">© Philip Baumgärtner 2025</span>
        </div>

        <a href="legal-notice" class="animate-left-to-right">
            <span class="font-bricolage-grotesque">{{ 'footer.legalNotice' | translate }}</span>
            <img src="./../../../assets/img/hero/header/B.4.svg" alt="">
        </a>
    </div>

    <app-animated-button class="font-bricolage-grotesque" text="GitHub" icon="./../../assets/img/shared/icon_github.svg" link="https://github.com/Sessa89">
    </app-animated-button>

    <app-animated-button class="font-bricolage-grotesque" text="LinkedIn" icon="./../../assets/img/shared/icon_linkedin.svg" link="https://www.linkedin.com/">
    </app-animated-button>

    <app-animated-button class="font-bricolage-grotesque" text="Email" icon="./../../assets/img/shared/icon_mail.svg" link="mailto:philip_baumgaertner@hotmail.de">
    </app-animated-button>

</footer>