<footer>
    <div class="first-footer-element">
        <div class="content">
            <img class="logo" src="./../../../assets/img/hero/header/Property 1=Logo Default.svg"
                onmouseover="this.src='./../../../assets/img/hero/header/Property 1=Logo Hover.svg'"
                onmouseout="this.src='./../../../assets/img/hero/header/Property 1=Logo Default.svg'" alt="">

            <span class="font-bricolage-grotesque">© Philip Baumgärtner 2025</span>
        </div>

        <a href="" class="animate-left-to-right">
            <span class="font-bricolage-grotesque">Legal Notice</span>
            <img src="./../../../assets/img/hero/header/B.4.svg" alt="">
        </a>
    </div>

    <app-animated-button text="GitHub" hoverText="GitHub" icon="./../../assets/img/hero/hero/waving_hand.svg">
    </app-animated-button>

    <app-animated-button text="LinkedIn" hoverText="LinkedIn" icon="./../../assets/img/hero/hero/waving_hand.svg">
    </app-animated-button>

    <app-animated-button text="Email" hoverText="Email" icon="./../../assets/img/hero/hero/waving_hand.svg">
    </app-animated-button>

</footer>